#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Mac stuff
.DS_Store

# openshift pull-secret
pull-secret

# local
makefile
**/artifacts/*

# installer-files
**/installer-files/*

# optional files
extras.tf
