#!/bin/bash

${installer_workspace}/openshift-install --dir=${installer_workspace} create manifests --log-level=debug
rm ${installer_workspace}/openshift/99_openshift-cluster-api_worker-machineset-*
rm ${installer_workspace}/openshift/99_openshift-cluster-api_master-machines-*
